/**
 * @name Discord Theme Fix
 * @author Sollace
 * @version 1.0.10
 * @description Fixes the stupid decisions of Discord's design team
*/

* {
  /* Message background gets darker when hovering over them instead of lighter*/
  --background-message-hover: rgba(0, 0, 0, 0.05);
  /* Make chat box shorter and take up less space */
  --custom-channel-textarea-text-area-height: 45px;
  /* Remove the appbar (waste of space) */
  --custom-app-top-bar-height: 0px;

  /* Just in general increase contrast */
    /* Change tooltips to black */
    --background-floating: black;
    /* Add depth by darkening the server list background */
    --bg-base-tertiary: rgba(0, 0, 0, 0.2) !important;
    /* Add depth by making emoji reactions on messages darker */
    --background-surface-highest: rgba(0, 0, 0, 0.1) !important;

    /* Fix spoiler color appearing way too bright */
    --spoiler-hidden-background: var(--background-surface-higher) !important;
    --spoiler-hidden-background-hover: var(--background-surface-higher) !important;
}

/* Remove the oddly-coloured block from the bottom of the server list */
*[class*="sidebar"]::after {
    display: none;
}

*[class*="layerContainer"] * {
    /* Add depth by making context menus darker */
    --background-surface-higher: #111 !important;
}

/* Re-apply server list background */
  *[aria-label="Servers sidebar"] {
      background: var(--bg-base-tertiary);
  }

/* Add depth by making player activity on the friends list darken whe hovered */
  *[class*=interactive] {
    --background-surface-higher: rgba(0, 0, 0, 0.1) !important;
  }

/* Remove the application bar (waste of space) */
  [class^="bar_"][data-windows] {
    display: none !important;
  }
  *[class*="sidebarListRounded"] {
    /*Remove rounding of the channel list to go with the application bar's removal*/
    border-radius: 0 !important;
  }

/* Fix chat box too tall (discord please) */
  div[class*="attachWrapper_"] {
    padding: calc(var(--space-md) - 10px) !important;
  }

  *[aria-label="User area"] {
    /* Fix account switcher overlapping the server list */
    left: calc(80px + 0.25em) !important;
    width: calc(100% - 90px) !important;
    margin-bottom: 0.5em;

    /* Reduce height of the account switcher (waste of space)*/
    --custom-rtc-account-height: 20px;
    --space-xs: 2px;

    & > div[class*="container_"] {
      height: 43px !important;
      padding: 4px !important;

      & > div[class*="avatarWrapper_"] {
        margin-left: 0 !important;
        padding-left: 4px !important;
      }
    }
  }

  *[aria-label="Servers sidebar"] {
    margin-bottom: 0 !important;
    width: 80px !important;

    /* Make server icons larger*/
    & > ul > * > * {
      transform-origin: top left;
      scale: 1.1;
      padding-top: 10px !important;
      margin-right: 5px !important;
      padding-bottom: 150% !important;
    }
  }

/* Bring back the small gap that indicate you're at the bottom of the chat */
  *[class*="scrollerSpacer"] {
    height: 30px !important;
  }


/* Make server icons round */
  *[class*="folder__"][aria-label] *[class*="guildIcon"],
  *[class*="blobContainer"] svg img,
  *[class*="blobContainer"] svg *[class*="childWrapper"] {
      transition: border-radius 0.75s ease;
  }
  *[class*="folder__"][aria-level] *[class*="guildIcon"],
  *[class*="blobContainer"]:not(*[class*="selected"]) svg img,
  *[class*="blobContainer"]:not(*[class*="selected"]) svg *[class*="childWrapper"] {
      border-radius: 100% !important;
  }

/* Make code blocks a darkened version of the regular background (less ugly) */
  *[class*="markup"] code {
    --background-code: rgba(0,0,0,0.1);
    border-radius: 8px;
  }

/*Add depth by making embeds darker*/
  *[class*="embedFull"] {
    --background-surface-high: rgba(0,0,0,0.05);
  }

/* Fix appearance of random things posted in chat bodies (invites, server informationals, etc)*/
  [id*=message-accessories] *[class^="wrapper_"] {
    background-color: var(--background-secondary);
    border-radius: 4px;
  }

/* Move typing and cooldown indicators back to the top of the chat input */
  [class*="formWithLoadedChatInput"] [class*="typing"] {
    bottom: 100%;
  }
/* Align chat input with other UI elements */
  * {
      --custom-chat-input-margin-bottom: 8px;
  }

/* Revert profile designs */
.user-profile-modal-v2 {
  width: min-content;
  min-width: 0;

  & > div {
    padding: 0 !important;
    gap: 0 !important;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  #activity-tab,
  #widgets-tab,
  [aria-label="Activity"],
  & > div > div[class*="backgroundImage"] {
    display: none !important;
  }

  div[class*="profileButtons"] {
    position: absolute;
    top: 0;
    right: 0;

    & + * {
      margin-top: 3em;
    }
  }

  & > div > div[class*="profile"] {
    width: 600px;

    & ~ * {
      position: absolute;
      top: 17.5em;
      left: 2em;
      right: 2em;
      bottom: 2em;
      width: auto !important;
      height: auto !important;
      border-radius: 0.3em;

      [aria-label="Board"] {
        font-size: 0;
      }
      [aria-label="Board"]::before {
        content: 'Overview';
        font-size: 16px;
      }
    }
  }

  &:not(:has(#activity-tab, #widgets-tab)) div[class*="profileButtons"] ~ * {
    display: none;
  }

  &:has(#activity-tab, #widgets-tab) > div > div[class*="profile"] ~ * {
    height: 3em;
    bottom: auto;
  }

  /*Corrects banner to new size*/
  div[class*="profileHeader"] {
    & > svg {
        width: 600px !important;
        margin-top: -50px;
        min-width: 400px !important;

        & > * {
          mask: radial-gradient(
              circle at bottom 13px left 62px,
              transparent 0 45px,
              white 0px 15px
          )
          content-box 0 0 / 100% 100% no-repeat;
      }
    }
  }
}
