/**
 * @name Remove Discord Junk
 * @author Sollace
 * @version 1.0.5
 * @description Custom theme to get rid of the garbage UI clitter
*/

[aria-label="Send a gift"],
[aria-label="Open GIF picker"],
[aria-label="Add Media"],
[aria-label="Add Media"] ~ [class*=spacer],
[aria-label="Open sticker picker"],
[aria-label="Apps"],
[aria-label="Wishlist"],
[aria-label="Help"],
[aria-label="Inbox"],
[aria-label="Servers sidebar"] [class^="listItem_"]:has([aria-label="Download Apps"], [aria-label="Discover"]),
.user-profile-modal-v2 [aria-label="Shop"],
[class*="browserNotice_"],
[role="listitem"]:has([data-list-item-id*="__shop"], [data-list-item-id*="__nitro"]),
/* Remove the "Quests have moved!" message */
div[style*="quests-wumpus-hikes-mountain-transparent-background"],
/* Remove activities */
[class*=members] [class*="membersGroup"]:has([class*="toggleExpandIcon"], [role="button"] svg),
[class*=members] [class*="membersGroup"]:has([class*="toggleExpandIcon"], [role="button"] svg) ~ div:has([class*=infoSection])/*,
[class*="clanTagChiplet"]*/ {
    display: none;
}
